.main-container {
    padding: 1rem;
}

.switch-container {
    margin: 2rem auto 1rem;
    padding: 1rem;
    display: flex;
    width: 90%;
    border-bottom: 1px double #333;

    justify-content: space-around;
}
.radio-field > * {
    margin-left: 0.5rem;
}

.form-container {
    margin: auto;
    max-width: 768px;
}

.form-field {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0.5rem;
}

.form-field label {
    flex: 1 3 100%;
    padding: 0.5rem;
}

.form-field input {
    flex: 3 1 100%;
    padding: 0.5rem 0 0 0.5rem;
}

/* Thanks to oldboy [coderwall] for the select style */
.select-multifield {
    margin: 1rem auto;
    background: transparent url("arrow-down.png") no-repeat 17% 50% ;
}

.select-multifield > input{
    flex: 3 1 75%;
}

.select-multifield > select {
    flex: 1 3 24%;
    padding-left: 1rem;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

@media (min-width: 768px) {
    .switch-container {
        width: 60%;
    }
    .form-field {
    flex-flow: row nowrap;
    }
    .select-multifield {
    margin: auto;
    }
}